.card{
    border: none;
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 110%;
    
    transform: translate(-50%, 30%);
    background: rgb(109, 163, 9);
    background: linear-gradient(90deg, rgb(225, 234, 240) 0%, rgb(145, 202, 13) 100%);
}

.card h1,h6{
    color: rgb(43, 33, 33);
}
label{
    color: rgb(43, 33, 33);
}

input.ng-valid{
    border-left: 5px solid green;
}

input.ng-invalid{
    border-left: 5px solid red;
}
.error{
    
    color: red;
    
}

.serviceReg{
    position: absolute;
    bottom: 900;
    background-color: skyblue;
    width: 99%;
    padding: 5px;
    color: bisque;
}